@model CarRental.Models.Car
@{
    ViewBag.Title = "Wyszukaj konkretne auta";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form method="post" action="@Url.Action("ShowSelect")">

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Marka, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Marka, new SelectList(CarRental.Models.Car.CarName(), "Marka", "Marka"), " MARKA ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Marka, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rok, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Rok, new SelectList(CarRental.Models.Car.CarYear(), "Rok", "Rok"), " ROK ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Rok, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Paliwo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Paliwo, new SelectList(CarRental.Models.Car.CarPetrol(), "Paliwo", "Paliwo"), " Paliwo ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Paliwo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CenaDobowa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Paliwo, new SelectList(CarRental.Models.Car.PricePerDay(), "CenaDobowa", "CenaDobowa"), " Cena za dobe ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CenaDobowa, "", new { @class = "text-danger", autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Szukaj" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
}

@if (@ViewData["result"] != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Marka
                </th>
                <th>
                    Model
                </th>
                <th>
                    Rok
                </th>
                <th>
                    Paliwo
                </th>
                <th>
                    Cena dobowa
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in (List<CarRental.Models.Car>)ViewData["result"])
            {
            <tr>
                <td>
                    @car.ID
                </td>
                <td>
                    @car.Marka
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @car.Rok
                </td>
                <td>
                    @car.Paliwo
                </td>
                <td>
                    @car.CenaDobowa
                </td>
                <td>
                    @if (Session["User"] != null)
                    {
                        @Html.ActionLink("Wypożycz", "AddRentForUser", "Rent", new { AutoID = car.ID }, null)
                    }
                    else
                    {
                        @Html.ActionLink("Wypożycz", "AddRentForWorker", "Rent", new { AutoID = car.ID }, null)
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}