@model IEnumerable<CarRental.Models.Car>
@{
    ViewBag.Title = "Samochody";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Marka
            </th>
            <th>
                Model
            </th>
            <th>
                Rok
            </th>
            <th>
                Paliwo
            </th>
            <th>
                Cena dobowa
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @car.ID
                </td>
                <td>
                    @car.Marka
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @car.Rok
                </td>
                <td>
                    @car.Paliwo
                </td>
                <td>
                    @car.CenaDobowa
                </td>
                <td>
                    @Html.ActionLink("Wypożycz", "AddRentForUser", "Rent", new { AutoID = car.ID}, null)
                </td>
            </tr>
        }
    </tbody>
</table>


