@model CarRental.Models.Rent
@{
    ViewBag.Title = "AddRent";
}

<div class="row">
    <div class="col-lg-8">
        <h2>Dodawanie wypożyczenia</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <form method="post" action="@Url.Action("AddRent")">

                <div class="form-horizontal">
                    <h4>Wypożyczenie</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.IdSamochodu, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.IdSamochodu, new SelectList(CarRental.Models.Car.CarList(), "ID", "list"), " ID | MARKA | MODEL | ROK | PALIWO | CENA", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdSamochodu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdOsoby, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.IdOsoby, new SelectList(CarRental.Models.Users.UserList(), "ID", "list"), " ID | Imie | Nazwisko | Pesel ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdOsoby, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DataWypozyczenia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DataWypozyczenia, new { htmlAttributes = new { @class = "form-control datepicker", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.DataWypozyczenia, "", new { @class = "text-danger", autocomplete = "off" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DataOddania, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DataOddania, new { htmlAttributes = new { @class = "form-control datepicker", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.DataOddania, "", new { @class = "text-danger", autocomplete = "off" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="WYPOŻYCZ" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
        }

        <div>
            @Html.ActionLink("Powrót do listy", "Show", "Rent")
        </div>

        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        @section scripts
{
            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
            <script>
                $(document).ready(function () {
                    $(".datepicker").datepicker({
                        dateFormat: "dd-mm-yy",
                        changemonth: true,
                        changeyear: true
                    });
                });
            </script>
        }
    </div>

    <div class="col-lg-4">

        <h2>Szczegóły wypożyczenia</h2>

        <div>
            <h4>Wypożyczenie</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IdWypozyczenia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdWypozyczenia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdSamochodu)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdSamochodu)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdOsoby)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdOsoby)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kwota)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kwota)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataWypozyczenia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataWypozyczenia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataOddania)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataOddania)
                </dd>

            </dl>
        </div>

    </div>
</div>

<br>
<br>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">LISTA SAMOCHODÓW</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">LISTA UŻYTKOWNIKÓW</button>
</p>
<br>

<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">

                <h3>LISTA SAMOCHODÓW</h3><hr>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Marka
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                                Rok
                            </th>
                            <th>
                                Paliwo
                            </th>
                            <th>
                                Cena dobowa
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in CarRental.Models.Car.Examples())
                        {
                            <tr>
                                <td>
                                    @car.ID
                                </td>
                                <td>
                                    @car.Marka
                                </td>
                                <td>
                                    @car.Model
                                </td>
                                <td>
                                    @car.Rok
                                </td>
                                <td>
                                    @car.Paliwo
                                </td>
                                <td>
                                    @car.CenaDobowa
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <br>

    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">

                <h3>LISTA UŻYTKOWNIKÓW</h3><hr>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Imie
                            </th>
                            <th>
                                Nazwisko
                            </th>
                            <th>
                                Pesel
                            </th>
                            <th>
                                E-mail
                            </th>
                            <th>
                                Numer telefonu
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in CarRental.Models.Users.Examples())
                        {
                            <tr>
                                <td>
                                    @user.ID
                                </td>
                                <td>
                                    @user.Name
                                </td>
                                <td>
                                    @user.Surname
                                </td>
                                <td>
                                    @user.Pesel
                                </td>
                                <td>
                                    @user.Email
                                </td>
                                <td>
                                    @user.PhoneNumber
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@if (Session["Fail"] != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert('@Session["Fail"].ToString()');
            };
    </script>
    Session["Fail"] = null;
}